$main-color:#09c;
h1{
    color: $main-color;
}
// nested
.cart{
    &:hover{ // when i hover in cart
        color: black;
        background-color: aliceblue;
    }

    background-color: aquamarine;
    border: 2px solid white;
    .title{
        font: {
            size:20px;
            weight:900;
            style:italic;
        };
        color: $main-color;
    }
    .desc{
        background-color: red;
    }
    button{
        border: #09c;
    }
}
// to import
@import 'variables'

// map  && each 
$colors :{
    'primary' = #09c,
    'yello' = yello,
    'red' = red,
    'white' = white,
    'blue' = red,
}

@each $key , $value in $colors{ // هيعمل لوووب ع عدد الفاريابل ويطبعهم
    .text-#{$key}{
        color: $value
    }
}

$font-weight:{
    "bold":900,
    "defult":300,
    "small":200,
}

.test{
    font-weight: map-get($font-weight , "bold")
}

// for loop
@for $i from 1 to 10 {
    .child#{$i}{
        background-color:rgba($color : #09c , $alpha:$1/10);
        height: 40px;
        width:300px + ($i *100) 
    }
}

// mixins ==> like extend
@mixin button(10px , 20px){
    border:red;
    background-color:yello;
    padding: $padding;
}

.button{
    @include button($padding , $margin)
    font-weight:300;
    padding: $padding;
}